@font-face {
    font-family: 'ai-naidar';
    src: url('../fonts/ai-nadar-1.3.ttf'); /* IE9 Compat Modes */
    src: url('../fonts/ai-nadar-1.3.ttf') format('truetype'), /* Safari, Android, iOS */
  };


  #inFont {
   font-family: "ai-naidar"; 
   font-size: 1rem;  
  }
