<form name="newWord" id="addWord">
    <input type="text" id="word" />
    <input type="text" id="pronunciation" />
    <select name="PoS">
        <option value="adjective">adjective</option>
        <option value="adverb">adverb</option>
        <option value="article">article</option>
        <option value="conjunction">conjunction</option>
        <option value="interjection">interjection</option>
        <option value="noun">noun</option>
        <option value="preposition">preposition</option>
        <option value="pronoun">pronoun</option>
        <option value="verb">verb</option>
    </select>
    <input type="text" id="meaning" />
    <input type="notes" id="notes" />
    <button name="newWord" id="submitWord"></button>
</form>