 <table>
     <thead>
     <th>
         word
     </th>
     <th>
         pronounciation
     </th>
     <th>
         part of speech
     </th>
     <th>
         meaning
     </th>
     <th>
         notes
     </th>
     <th>
         orthography
     </th>
     <th>
         transliteration
     </th>
     </thead>
     <tbody>
         {{{entries}}}
     </tbody>
 </table>